@section head {
    <link type="text/css" rel="stylesheet" href="~/lib/jqgrid/css/ui.jqgrid.css" />
    <script type="text/javascript" src="~/lib/jqgrid/js/jquery.jqGrid.min.js"></script>
    <script type="text/javascript">
        function FormatColumnName(value, grid, row) {
            var title = row.name;
            var message = row.description + "<br /><br />" + row.id;
            return "<span class=\"gridColumn\" onclick=\"DisplayMessage('" + title + "', '" + message +  "', null, 600, null)\">" + value + "</span>";
        }
        $(function () {
            var mediaProcessors = @Html.Raw(Json.Serialize(ViewData["mediaProcessors"]));
            $("#gridView").jqGrid({
                datatype: "local",
                colModel: [
                    {
                        name: "id",
                        hidden: true
                    },
                    {
                        name: "description",
                        hidden: true
                    },
                    {
                        name: "name",
                        label: "Name",
                        align: "center",
                        formatter: FormatColumnName,
                        width: 400
                    },
                    {
                        name: "version",
                        label: "Version",
                        align: "center",
                        width: 100
                    }
                ],
                loadComplete: function () {
                    for (var i = 0; i < mediaProcessors.length; i++) {
                        var rowId = mediaProcessors[i].id;
                        var row = document.getElementById(rowId);
                        if (row != null) {
                            for (var x = 0; x < row.cells.length; x++) {
                                row.cells[x].title = "";
                            }
                        }
                    }
                },
                sortname: "name",
                sortorder: "asc",
                height: 380
            });
            for (var i = 0; i < mediaProcessors.length; i++) {
                $("#gridView").jqGrid("addRowData", mediaProcessors[i].id, mediaProcessors[i]);
            }
            $("#gridView").jqGrid("sortGrid", "name", false, "asc");
        })
    </script>
}

@section title {
    Media Services Processors
}

<table id="gridView"></table>
