@{
    string ampVersion = ViewData["mediaPlayerVersion"].ToString();
    string ampSkin = ViewData["mediaPlayerSkin"].ToString();

    string amcVersion = ViewData["mediaClipperVersion"].ToString();

    string loadMode = ViewData["mediaClipperLoadMode"].ToString();
}

@section head {
    <link type="text/css" rel="stylesheet" href="//amp.azure.net/libs/amp/@ampVersion/skins/@ampSkin/azuremediaplayer.min.css" />
    <link type="text/css" rel="stylesheet" href="//amp.azure.net/libs/amc/@amcVersion/azuremediaclipper.css">
    <script type="text/javascript" src="//amp.azure.net/libs/amp/@ampVersion/azuremediaplayer.min.js"></script>
    <script type="text/javascript" src="//amp.azure.net/libs/amc/@amcVersion/azuremediaclipper.min.js"></script>
    <script type="text/javascript">
        $(function () {
            LoadClipper("@loadMode", false);
        })
    </script>
}

@section title {
    Media Editor
}

<div id="videoClipper" class="videoClipper azure-subclipper dark-skin"></div>