@using AzureSkyMedia.WebApp.Models;

@model RangeSlider

<table class="mediaModules">
    <tr>
    @if (ViewData.ContainsKey("accountName"))
    {
        <td class="mediaModulesButton">
            <partial name="SiteButton" model='new SiteButton { ControlId = "mediaUpload", ImageFile = "MediaUpload.png", RelativeUrl = "/upload" }' />
        </td>
        <td class="mediaModulesButton">
            <partial name="SiteButton" model='new SiteButton { ControlId = "mediaTransform", ImageFile = "MediaTransform.png", RelativeUrl = "/transform" }' />
        </td>
        <td class="mediaModulesButton">
            <partial name="SiteButton" model='new SiteButton { ControlId = "mediaJob", ImageFile = "MediaJob.png", RelativeUrl = "/job" }' />
        </td>
    }
        <td>
            <partial name="SiteButton" model='new SiteButton { ControlId = "mediaStreamLeft", ImageFile = "MediaStreamLeft.png", OnClick = "SetMediaStream(true, false)" }' />
        </td>
        <partial name="RangeSlider" model='new RangeSlider { SliderId = "streamTuner", SliderClass = "streamTuner", LabelId = "streamNumber", LabelClass = "streamNumber", SkipCount = Model.SkipCount, ValueCount = Model.ValueCount, LastPage = Model.LastPage }' />
        <td>
            <partial name="SiteButton" model='new SiteButton { ControlId = "mediaStreamRight", ImageFile = "MediaStreamRight.png", OnClick = "SetMediaStream(false, true)" }' />
        </td>
    @if (ViewData.ContainsKey("accountName"))
    {
        <td class="mediaModulesButton">
            <partial name="SiteButton" model='new SiteButton { ControlId = "mediaLive", ImageFile = "MediaLive.png", RelativeUrl = "/live" }' />
        </td>
        <td class="mediaModulesButton">
        @if (ViewData["indexerMessage"] != null)
        {
            <partial name="SiteButton" model='new SiteButton { ControlId = "mediaInsight", ImageFile = "MediaInsight.png", OnClick = ViewData["indexerMessage"].ToString() }' />
        }
        else
        {
            <partial name="SiteButton" model='new SiteButton { ControlId = "mediaInsight", ImageFile = "MediaInsight.png", RelativeUrl = "/insight" }' />
        }
        </td>
        <td class="mediaModulesButton">
            <partial name="SiteButton" model='new SiteButton { ControlId = "mediaEdit", ImageFile = "MediaEdit.png", RelativeUrl = "/edit" }' />
        </td>
    }
    </tr>
</table>