@using AzureSkyMedia.WebApp.Models;

@model StreamTuner

@{
    int tunerPageStart = Model.StreamCount == 0 ? 0 : Model.StreamOffset + 1;
    int tunerPageEnd = Model.StreamOffset + Model.StreamCount;
}

<table class="mediaWorkflow">
    <tr>
        @if (ViewData.ContainsKey("accountName"))
        {
            <td>
                <partial name="SiteButton" model='new SiteButton { ClientId = "mediaUpload", ImageFile = "MediaUpload.png", RelativeUrl = "/upload" }' />
            </td>
            <td>
                <partial name="SiteButton" model='new SiteButton { ClientId = "mediaTransform", ImageFile = "MediaTransform.png", RelativeUrl = "/transform" }' />
            </td>
            <td>
                <partial name="SiteButton" model='new SiteButton { ClientId = "mediaJob", ImageFile = "MediaJob.png", RelativeUrl = "/job" }' />
            </td>
            <td>
                <partial name="SiteButton" model='new SiteButton { ClientId = "mediaStreamLeft", ImageFile = "MediaStreamLeft.png", OnClick = "SetStreamTuner(false)" }' />
            </td>
        }
        <td class="streamNumber sideLeft">
            @tunerPageStart
        </td>
        <td>
            <div id="streamTuner" class="streamTuner"></div>
        </td>
        <td class="streamNumber sideRight">
            @tunerPageEnd
        </td>
        @if (ViewData.ContainsKey("accountName"))
        {
            <td>
                <partial name="SiteButton" model='new SiteButton { ClientId = "mediaStreamRight", ImageFile = "MediaStreamRight.png", OnClick = "SetStreamTuner(true)" }' />
            </td>
            <td>
                <partial name="SiteButton" model='new SiteButton { ClientId = "mediaInsight", ImageFile = "MediaInsight.png", RelativeUrl = "/insight" }' />
            </td>
            <td>
                <partial name="SiteButton" model='new SiteButton { ClientId = "mediaSearch", ImageFile = "MediaSearch.png", RelativeUrl = "/search" }' />
            </td>
            <td>
                <partial name="SiteButton" model='new SiteButton { ClientId = "mediaEdit", ImageFile = "MediaEdit.png", RelativeUrl = "/edit" }' />
            </td>
        }
    </tr>
</table>