@model AzureSkyMedia.WebApp.Models.MediaPlayer

<div id="@Model.ContainerId" class="@Model.ContainerStyle">
    <video id="@Model.ControlId" class="azuremediaplayer @Model.PlayerSkin-skin amp-big-play-centered" playsinline></video>
</div>