<div id="analyticsInfo" class="analyticsInfo">
    <span id="analyticsToggle" class="siteLink analyticsToggle" onclick="ToggleAnalytics(this)">
        +
    </span>
    <div class="videoAnalytics">
        <div id="analyticsView" class="analyticsView" style="display: none">
            <span class="inputLabel">
                Azure Media Analytics Processor:
            </span>
            @Html.DropDownList("analyticsProcessors", null, new { onchange = "SetAnalyticsView(this)" })
            <div class="analyticsView">
                @Html.TextArea("amaText", new { @class = "analyticsData" })
                <div id="amaTree" class="analyticsData"></div>
            </div>
        </div>
    </div>
</div>
