@using AzureSkyMedia.WebApp.Models;

@model StreamTuner

@{
    int streamTunerPageStart = Model.StreamCount == 0 ? 0 : Model.StreamSkipCount + 1;
    int streamTunerPageEnd = Model.StreamCount + Model.StreamSkipCount;
}

<table class="mediaWorkflow">
    <tr>
    @if (ViewData.ContainsKey("accountName"))
    {
        <td>
            <partial name="SiteButton" model='new SiteButton { ControlId = "mediaUpload", ImageFile = "MediaUpload.png", RelativeUrl = "/upload" }' />
        </td>
        <td>
            <partial name="SiteButton" model='new SiteButton { ControlId = "mediaTransform", ImageFile = "MediaTransform.png", RelativeUrl = "/transform" }' />
        </td>
        <td>
            <partial name="SiteButton" model='new SiteButton { ControlId = "mediaJob", ImageFile = "MediaJob.png", RelativeUrl = "/job" }' />
        </td>
    }
        <td>
            <partial name="SiteButton" model='new SiteButton { ControlId = "mediaStreamLeft", ImageFile = "MediaStreamLeft.png", OnClick = "SetMediaStream(true, false)" }' />
        </td>
        <td class="streamNumber sideLeft">
            @streamTunerPageStart
        </td>
        <td>
            <div id="streamTuner" class="streamTuner"></div>
        </td>
        <td class="streamNumber sideRight">
            @streamTunerPageEnd
        </td>
        <td>
            <partial name="SiteButton" model='new SiteButton { ControlId = "mediaStreamRight", ImageFile = "MediaStreamRight.png", OnClick = "SetMediaStream(false, true)" }' />
        </td>
    @if (ViewData.ContainsKey("accountName"))
    {
        <td>
            <partial name="SiteButton" model='new SiteButton { ControlId = "mediaSearch", ImageFile = "MediaSearch.png", RelativeUrl = "/search" }' />
        </td>
        <td>
            <partial name="SiteButton" model='new SiteButton { ControlId = "mediaEdit", ImageFile = "MediaEdit.png", RelativeUrl = "/edit" }' />
        </td>
        <td>
            <partial name="SiteButton" model='new SiteButton { ControlId = "mediaGallery", ImageFile = "MediaGallery.png", RelativeUrl = "/gallery" }' />
        </td>
    }
    </tr>
</table>