@using AzureSkyMedia.WebApp.Models;

@model StreamTuner

@{
    int tunerPageStart = Model.StreamCount == 0 ? 0 : Model.StreamSkipCount + 1;
    int tunerPageEnd = Model.StreamCount + Model.StreamSkipCount;
}

<table class="mediaWorkflow">
    <tr>
    @if (ViewData.ContainsKey("accountName"))
    {
        <td>
            <partial name="SiteButton" model='new SiteButton { ClientId = "mediaUpload", ImageFile = "MediaUpload.png", RelativeUrl = "/upload" }' />
        </td>
        <td>
            <partial name="SiteButton" model='new SiteButton { ClientId = "mediaTransform", ImageFile = "MediaTransform.png", RelativeUrl = "/transform" }' />
        </td>
        <td>
            <partial name="SiteButton" model='new SiteButton { ClientId = "mediaJob", ImageFile = "MediaJob.png", RelativeUrl = "/job" }' />
        </td>
    }
        <td>
            <partial name="SiteButton" model='new SiteButton { ClientId = "mediaStreamLeft", ImageFile = "MediaStreamLeft.png", OnClick = "SetMediaStream(true, false)" }' />
        </td>
        <td class="streamNumber sideLeft">
            @tunerPageStart
        </td>
        <td>
            <div id="streamTuner" class="streamTuner"></div>
        </td>
        <td class="streamNumber sideRight">
            @tunerPageEnd
        </td>
        <td>
            <partial name="SiteButton" model='new SiteButton { ClientId = "mediaStreamRight", ImageFile = "MediaStreamRight.png", OnClick = "SetMediaStream(false, true)" }' />
        </td>
    @if (ViewData.ContainsKey("accountName"))
    {
        <td>
            <partial name="SiteButton" model='new SiteButton { ClientId = "mediaSearch", ImageFile = "MediaSearch.png", RelativeUrl = "/search" }' />
        </td>
        <td>
            <partial name="SiteButton" model='new SiteButton { ClientId = "mediaCompose", ImageFile = "MediaCompose.png", RelativeUrl = "/compose" }' />
        </td>
        <td>
            <partial name="SiteButton" model='new SiteButton { ClientId = "mediaBrowse", ImageFile = "MediaBrowse.png", RelativeUrl = "/browse" }' />
        </td>
    }
    </tr>
</table>