@{
    int index = Model;
    string videoClipperId = string.Concat("videoClipper", index);
    string videoPlayerId = string.Concat("videoPlayer", index);
}

<div id="@videoClipperId" class="mediaPlayer">
    <video id="@videoPlayerId" class="azuremediaplayer @ViewData["mediaPlayerSkin"]-skin amp-big-play-centered" controls height="auto" width="100%" />
</div>