@using AzureSkyMedia.WebApp.Models;

@model RangeSlider

<table class="mediaModules">
    <tr>
    @if (ViewData.ContainsKey("accountName"))
    {
        <td class="mediaModulesButton">
            <partial name="SiteButton" model='new SiteButton { ControlId = "mediaUpload", ImageFile = "MediaUpload.png", RelativeUrl = "/upload", AltText = "Upload" }' />
        </td>
        <td class="mediaModulesButton">
            <partial name="SiteButton" model='new SiteButton { ControlId = "mediaTransform", ImageFile = "MediaTransform.png", RelativeUrl = "/transform", AltText = "Transform" }' />
        </td>
        <td class="mediaModulesButton">
            <partial name="SiteButton" model='new SiteButton { ControlId = "mediaJob", ImageFile = "MediaJob.png", RelativeUrl = "/job", AltText = "Job" }' />
        </td>
    }
        <td>
            <partial name="SiteButton" model='new SiteButton { ControlId = "mediaStreamLeft", ImageFile = "MediaStreamLeft.png", OnClick = "SetMediaStream(true, false)", AltText = "Stream Tuner Left" }' />
        </td>
            <partial name="RangeSlider" model='new RangeSlider { SliderId = "streamTuner", SliderClass = "streamTuner", LabelId = "streamNumber", LabelClass = "streamNumber", SkipCount = Model.SkipCount, ItemCount = Model.ItemCount, LastPage = Model.LastPage }' />
        <td>
            <partial name="SiteButton" model='new SiteButton { ControlId = "mediaStreamRight", ImageFile = "MediaStreamRight.png", OnClick = "SetMediaStream(false, true)", AltText = "Stream Tuner Right" }' />
        </td>
    @if (ViewData.ContainsKey("accountName"))
    {
        <td class="mediaModulesButton">
            <partial name="SiteButton" model='new SiteButton { ControlId = "mediaLive", ImageFile = "MediaLive.png", RelativeUrl = "/live", AltText = "Live" }' />
        </td>
        <td class="mediaModulesButton">
        @if (ViewData["indexerMessage"] != null)
        {
            <partial name="SiteButton" model='new SiteButton { ControlId = "mediaInsight", ImageFile = "MediaInsight.png", OnClick = ViewData["indexerMessage"].ToString(), AltText = "Insight" }' />
        }
        else
        {
            <partial name="SiteButton" model='new SiteButton { ControlId = "mediaInsight", ImageFile = "MediaInsight.png", RelativeUrl = "/insight", AltText = "Insight" }' />
        }
        </td>
        <td class="mediaModulesButton">
            <partial name="SiteButton" model='new SiteButton { ControlId = "mediaClip", ImageFile = "MediaClip.png", RelativeUrl = "/clip", AltText = "Clip" }' />
        </td>
    }
    </tr>
</table>