<table class="mediaUpload">
    <tr>
        <td class="inputLabel">
            Azure Storage:
        </td>
        <td>
            @Html.DropDownList("storageAccount", null, new { @class = "mediaStorage" })
            &nbsp;
            @Html.CheckBox("storageEncryption")
            <span class="siteLink" onclick="window.open('http://docs.microsoft.com/en-us/azure/media-services/media-services-content-protection-overview#storage-encryption')">
                Storage Encryption
            </span>
        </td>
    </tr>
    <tr>
        <td class="inputLabel">
            Input Asset:
        </td>
        <td>
            @Html.TextBox("inputAssetName", null, new { @class = "inputAssetName", placeholder = "[New Media Asset Name]" })
            &nbsp;
            @Html.CheckBox("multipleFileAsset")
            <span class="siteLink" onclick="window.open('http://docs.microsoft.com/en-us/azure/media-services/media-services-dotnet-upload-files#upload-multiple-files-with-media-services-net-sdk')">
                Multiple File Asset
            </span>
        </td>
    </tr>
</table>