<div id="subclipDialog" style="display: none">
    <table class="subclipTimes">
        <tr>
            <td class="inputLabel subclipTime">
                Start Time
            </td>
            <td>
                <input id="subclipStartTimeHours" class="spinner d2" />
            </td>
            <td>
                :
            </td>
            <td>
                <input id="subclipStartTimeMinutes" class="spinner d2" />
            </td>
            <td>
                :
            </td>
            <td>
                <input id="subclipStartTimeSeconds" class="spinner d2" />
            </td>
        </tr>
        <tr>
            <td class="inputLabel subclipTime">
                End Time
            </td>
            <td>
                <input id="subclipEndTimeHours" class="spinner d2" />
            </td>
            <td>
                :
            </td>
            <td>
                <input id="subclipEndTimeMinutes" class="spinner d2" />
            </td>
            <td>
                :
            </td>
            <td>
                <input id="subclipEndTimeSeconds" class="spinner d2" />
            </td>
        </tr>
    </table>
</div>
