@{
    string modeId = Model;
}

<select id="@modeId" class="inputSelect">
    <option value="StopProcessingJob" selected>Stop Job</option>
    <option value="ContinueJob">Continue Job</option>
</select>