@model AzureSkyMedia.WebApp.Models.ClientControl

<select id="@Model.ClientId" class="inputSelect">
    <option value="Low">Low</option>
    <option value="Normal" selected>Normal</option>
    <option value="High">High</option>
</select>