@{
    string[] model = Model;
    string buttonId = model[0];
    string imageFile = model[1];
    string onClick = model[2];

    string cdnUrl = ViewData["storageCdnUrl"].ToString();
    string imageUrl = string.Concat(cdnUrl, "/", imageFile);
}

<button id="@buttonId" class="siteButton" onclick="@onClick">
    <img src="@imageUrl" />
</button>
