@section head {
    <link type="text/css" rel="stylesheet" href="~/lib/plupload/js/jquery.ui.plupload/css/jquery.ui.plupload.css" />
    <script type="text/javascript" src="~/lib/plupload/js/moxie.min.js"></script>
    <script type="text/javascript" src="~/lib/plupload/js/plupload.min.js"></script>
    <script type="text/javascript" src="~/lib/plupload/js/jquery.ui.plupload/jquery.ui.plupload.min.js"></script>
    <script type="text/javascript" src="~/js/uploader.js"></script>
    <script type="text/javascript" src="~/js/workflow.js"></script>
    <script type="text/javascript" src="~/js/workflow.job.js"></script>
    <script type="text/javascript" src="~/js/workflow.task.js"></script>
    <script type="text/javascript" src="~/js/workflow.task.configuration.js"></script>
    <script type="text/javascript" src="~/js/workflow.task.protection.js"></script>
    <script type="text/javascript" src="~/js/workflow.task.thumbnail.js"></script>
    <script type="text/javascript">
        $(function () {
            SetWorkflowInputs(true);
            CreateUploader();
        })
    </script>
}

@section title {
    Media File Workflow
}

@Html.Partial("MediaUpload")

<div id="fileUploader"></div>

<div id="mediaUploadMessage" class="mediaUploadMessage">
    <br>
</div>

@Html.Partial("MediaWorkflow", "true")