@{
    string gridId = "assets";
}

@section head {
    <script type="text/javascript">
        $(function () {
            _childGridId = "assetFiles";
            _childPropertyName = "files";
            var gridId = "@gridId";
            var rows = @Json.Serialize(ViewData[gridId]);
            var columns = GetParentColumns(gridId);
            LoadGrid(gridId, rows, columns);
        })
    </script>
}

@section title {
    Media Assets
}

<div class="grid">
    <table id="@gridId"></table>
    <div id="gridPager"></div>
</div>