@section head {
    <script type="text/javascript">
        $(function () {
            var columns = GetColumns("assets", "Asset Name");
            var rows = @Json.Serialize(ViewData["assets"]);
            var spacingPatterns = @Json.Serialize(ViewData["spacingPatterns"]);
            var spacingInserts = @Json.Serialize(ViewData["spacingInserts"]);
            LoadGrid("assets", columns, rows, null, null, spacingPatterns, spacingInserts, "@ViewData["storageCdnUrl"]");
        })
    </script>
}

@section title {
    Assets
}

<div class="grid">
    <table id="assets"></table>
    <div id="gridPager"></div>
</div>