@section head {
    <script type="text/javascript">
        $(function () {
            var columns = [
                {
                    width: 500,
                    name: "name",
                    label: "Content Key Policy Name",
                    align: "center"
                },
                {
                    width: 100,
                    label: "Actions",
                    formatter: FormatActions,
                    align: "center"
                }
            ];
            var rows = @Json.Serialize(ViewData["contentKeyPolicies"]);
            LoadGrid("contentKeyPolicies", columns, rows, "@ViewData["storageCdnUrl"]");
        })
    </script>
}

@section title {
    Content Key Policies
}

<table id="contentKeyPolicies"></table>