@section head {
    <script type="text/javascript">
        $(function () {
            var rows = @Json.Serialize(ViewData["contentKeyAuthZPolicyOptions"]);
            var columns = [
                {
                    name: "id",
                    hidden: true
                },
                {
                    width: 500,
                    name: "name",
                    label: "Content Key Authorization Policy Option Name",
                    formatter: FormatColumn,
                    align: "center"
                },
                {
                    width: 300,
                    name: "keyDeliveryType",
                    label: "Content Key Delivery Type",
                    formatter: FormatColumn,
                    align: "center"
                }
            ];
            LoadGrid("contentKeyAuthZPolicyOptions", columns, rows);
        })
    </script>
}

@section title {
    Content Key<br>Authorization Policy Options
}

<table id="contentKeyAuthZPolicyOptions"></table>