@section head {
    <script type="text/javascript">
        $(function () {
            var rows = @Json.Serialize(ViewData["contentKeyPolicies"]);
            var columns = [
                {
                    width: 500,
                    name: "name",
                    label: "Content Key Policy Name",
                    formatter: FormatColumn,
                    align: "center"
                },
                {
                    width: 100,
                    label: "Delete",
                    formatter: FormatDelete,
                    align: "center"
                }
            ];
            LoadGrid("contentKeyPolicies", columns, rows, "@ViewData["storageCdnUrl"]", "content key policy");
        })
    </script>
}

@section title {
    Content Key Policies
}

<table id="contentKeyPolicies"></table>