@{
    string storageCdnUrl = ViewData["storageCdnUrl"] as string;
}

@section head {
    <script type="text/javascript">
        $(function () {
            var rows = @Json.Serialize(ViewData["contentKeyAuthPolicies"]);
            var columns = [
                {
                    name: "id",
                    hidden: true
                },
                {
                    width: 500,
                    name: "name",
                    label: "Content Key Authorization Policy Name",
                    formatter: FormatColumn,
                    align: "center"
                },
                {
                    width: 100,
                    label: "Delete",
                    formatter: FormatDelete,
                    align: "center"
                }
            ];
            LoadGrid("contentKeyAuthPolicies", columns, rows, "@storageCdnUrl", "content key authorization policy");
        })
    </script>
}

@section title {
    Content Key<br>Authorization Policies
}

<table id="contentKeyAuthPolicies"></table>