@{
    string gridId = "contentKeyPolicies";
}

@section head {
    <script type="text/javascript">
        $(function () {
            _childGridType = "contentKeyPolicyOptions";
            _childPropertyName = "properties.options";
            var gridId = "@gridId";
            var rows = @Json.Serialize(ViewData[gridId]);
            var columns = GetParentColumns(gridId);
            LoadGrid(gridId, rows, columns);
        })
    </script>
}

@section title {
    Content Key Policies
}

<div class="grid">
    <table id="@gridId"></table>
    <div id="gridPager"></div>
</div>