@section head {
    <script type="text/javascript">
        $(function () {
            var columns = GetColumns("contentKeyPolicies", "Content Key Policy Name");
            var rows = @Json.Serialize(ViewData["contentKeyPolicies"]);
            var spacingPatterns = @Json.Serialize(ViewData["spacingPatterns"]);
            var spacingInserts = @Json.Serialize(ViewData["spacingInserts"]);
            LoadGrid("contentKeyPolicies", columns, rows, null, null, spacingPatterns, spacingInserts, "@ViewData["storageCdnUrl"]");
        })
    </script>
}

@section title {
    Content Key Policies
}

<div class="grid">
    <table id="contentKeyPolicies"></table>
    <div id="gridPager"></div>
</div>