@{
    string storageCdnUrl = ViewData["storageCdnUrl"] as string;
}

@section head {
    <script type="text/javascript">
        $(function () {
            var rows = @Json.Serialize(ViewData["deliveryPolicies"]);
            var columns = [
                {
                    name: "id",
                    hidden: true
                },
                {
                    width: 500,
                    name: "name",
                    label: "Delivery Policy Name",
                    formatter: FormatColumn,
                    align: "center"
                },
                {
                    width: 100,
                    label: "Delete",
                    formatter: FormatDelete,
                    align: "center"
                }
            ];
            LoadGrid("deliveryPolicies", columns, rows, "@storageCdnUrl", "delivery policy");
        })
    </script>
}

@section title {
    Delivery Policies
}

<table id="deliveryPolicies"></table>