@section head {
    <script type="text/javascript">
        $(function () {
            alert("Profile Edit");
        })
    </script>
}

<div class="viewTitle">
    Azure Sky Media Account Profile Edit
</div>
