<!DOCTYPE html>
<html>
    <head>
        <title>Azure Sky Media Account Profile</title>
        <link type="text/css" rel="stylesheet" href="~/css/site.css" />
        <link type="text/css" rel="stylesheet" href="~/css/account.css" />
    </head>
    <body>
        <div class="viewTitle">
            Azure Sky Media Account Profile
        </div>
        <div id="api"></div>
    </body>
</html>