@section head {
    <link type="text/css" rel="stylesheet" href="~/lib/jqgrid/css/ui.jqgrid.css" />
    <script type="text/javascript" src="~/lib/jqgrid/js/jquery.jqGrid.min.js"></script>
    <script type="text/javascript" src="~/js/grid.js"></script>
    <script type="text/javascript">
        $(function () {
            var rows = @Html.Raw(Json.Serialize(ViewData["notificationEndpoints"]));
            var columns = [
                {
                    name: "id",
                    hidden: true
                },
                {
                    name: "name",
                    label: "Name",
                    align: "center",
                    formatter: FormatColumnName
                },
                {
                    name: "endPointType",
                    label: "Type",
                    align: "center",
                    formatter: FormatColumnType
                },
                {
                    name: "endPointAddress",
                    label: "Address",
                    align: "center",
                    width: 400
                }
            ];
            LoadGrid(columns, rows);
        })
    </script>
}

@section title {
    Notification Endpoints
}

<table id="gridView"></table>
