@section head {
    <link type="text/css" rel="stylesheet" href="~/lib/jqgrid/css/ui.jqgrid.css" />
    <script type="text/javascript" src="~/lib/jqgrid/js/jquery.jqGrid.min.js"></script>
    <script type="text/javascript" src="~/js/grid.js"></script>
    <script type="text/javascript">
        $(function () {
            var rows = @Html.Raw(Json.Serialize(ViewData["notificationEndpoints"]));
            var columns = [
                {
                    name: "id",
                    hidden: true
                },
                {
                    width: 300,
                    name: "name",
                    label: "Endpoint Name",
                    align: "center",
                    formatter: FormatColumn
                },
                {
                    name: "endPointType",
                    label: "Endpoint Type",
                    align: "center",
                    formatter: FormatColumn
                },
                {
                    width: 600,
                    name: "endPointAddress",
                    label: "Endpoint Address",
                    formatter: FormatColumn
            }
            ];
            LoadGrid(columns, rows);
        })
    </script>
}

@section title {
    Notification Endpoints
}

<table id="gridView"></table>
