@{
    string gridId = "filtersAccount";
}

@section head {
    <script type="text/javascript">
        $(function () {
            _childGridType = null;
            _childPropertyName = null;
            var gridId = "@gridId";
            var rows = @Json.Serialize(ViewData[gridId]);
            var columns = GetParentColumns(gridId);
            LoadGrid(gridId, rows, columns);
        })
    </script>
}

@section title {
    Filters (Account)
}

<div class="grid">
    <table id="@gridId"></table>
    <div id="gridPager"></div>
</div>