@{
    string storageCdnUrl = ViewData["storageCdnUrl"] as string;
}

@section head {
    <script type="text/javascript">
        $(function () {
            var rows = @Json.Serialize(ViewData["filters"]);
            var columns = [
                {
                    name: "id",
                    hidden: true
                },
                {
                    width: 500,
                    name: "name",
                    label: "Streaming Filter Name",
                    formatter: FormatColumn,
                    align: "center"
                },
                {
                    width: 100,
                    label: "Delete",
                    formatter: FormatDelete,
                    align: "center"
                }
            ];
            LoadGrid("filters", columns, rows, "@storageCdnUrl", "streaming filter");
        })
    </script>
}

@section title {
    Streaming Filters
}

<table id="filters"></table>