@using System.Diagnostics;
@using AzureSkyMedia.WebApp.Models;

@section head {
    <script type="text/javascript">
        function DisplayEntity(inventoryHtml, entityCount) {
            inventoryHtml = inventoryHtml + "<tr><td>";
            if (entityCount.length > 2) {
                inventoryHtml = inventoryHtml + "<span class=\"siteLink\" onclick=\"window.location.href = '" + entityCount[2] + "'\">" + entityCount[0] + "</span>";
            } else {
                inventoryHtml = inventoryHtml + entityCount[0]
            }
            return inventoryHtml + "</td><td class='entityCount'>" + entityCount[1] + "</td></tr>";
        }
        function DisplayInventory() {
            var inventoryHtml = "";
            var entityCounts = @Json.Serialize(ViewData["entityCounts"]);
            for (var i = 0; i < entityCounts.length; i++) {
                inventoryHtml = DisplayEntity(inventoryHtml, entityCounts[i]);
            }
            $("#accountInventory").html(inventoryHtml);
        }
        function DeleteEntities(liveOnly) {
            SetCursor(true);
            $.post("/account/deleteEntities",
                {
                    liveOnly: liveOnly
                },
                function () {
                    SetCursor(false);
                    window.location = window.location.href;
                }
            );
        }
        function ConfirmDelete() {
            var title = "Confirm Media Account Entity Deletion";
            var message = "Which set of entities do you want to delete from your media account?";
            var buttons = {
                "All Entities": function () {
                    DeleteEntities(false);
                    $(this).dialog("close");
                },
                "Live Only": function () {
                    DeleteEntities(true);
                    $(this).dialog("close");
                },
                Cancel: function () {
                    $(this).dialog("close");
                }
            };
            DisplayMessage(title, message, buttons);
        }
        $(function () {
            DisplayInventory();
            CreateTipBottom("accountClear", "Clear Media Account");
            CreateTipBottom("authToken", "Azure Active Directory<br><br>JSON Web Token");
            if (window.location.href.indexOf("authToken") > -1) {
                $("#authToken").show();
            }
        })
    </script>
}

@section title {
    Account Inventory
}

<table id="accountInventory" class="accountInventory"></table>

<div class="viewButtons">
    @if (Debugger.IsAttached)
    {
        <partial name="SiteButton" model='new SiteButton { ClientId = "accountClear", ImageFile = "AccountClear.png", OnClick = "ConfirmDelete()" }' />
    }
</div>

<div id="authToken" class="authToken">@ViewData["authToken"]</div>