@using System.Diagnostics;

@{
    string authToken = ViewData["authToken"] as string;
}

@section head {
    <script type="text/javascript">
        function ToggleToken() {
            if ($("#authToken").is(":visible")) {
                $("#authToken").text("");
                $("#authToken").hide();
            } else {
                $("#authToken").text("@authToken");
                $("#authToken").show();
            }
        }
        function SetEntity(innerHtml, entityCount) {
            innerHtml = innerHtml + "<tr><td>";
            if (entityCount.length > 2) {
                innerHtml = innerHtml + "<span class=\"siteLink\" onclick=\"window.location.href = '" + entityCount[2] + "'\">" + entityCount[0] + "</span>";
            } else {
                innerHtml = innerHtml + entityCount[0]
            }
            return innerHtml + ":</td><td class='entityCount'>" + entityCount[1] + "</td></tr>";
        }
        function SetInventory(entityCounts) {
            var innerHtml = "";
            for (var i = 0; i < 11; i++) {
                innerHtml = SetEntity(innerHtml, entityCounts[i]);
            }
            $("#inventoryLeft").html(innerHtml);
            innerHtml = "";
            for (var i = 11; i < entityCounts.length; i++) {
                innerHtml = SetEntity(innerHtml, entityCounts[i]);
            }
            $("#inventoryRight").html(innerHtml);
        }
        function DeleteEntities(allEntities, liveChannels) {
            SetCursor(true);
            $.post("/account/deleteEntities",
                {
                    allEntities: allEntities,
                    liveChannels: liveChannels
                },
                function () {
                    SetCursor(false);
                    window.location = window.location.href;
                }
            );
        }
        function ConfirmDelete() {
            var title = "Confirm Media Account Content Deletion (Permanent)";
            var message = "Which set of entities do you want permanently deleted from your media account?";
            var buttons = {
                "All Entities": function () {
                    DeleteEntities(true, false);
                    $(this).dialog("close");
                },
                "Child Assets": function () {
                    DeleteEntities(false, false);
                    $(this).dialog("close");
                },
                "Live Channels": function () {
                    DeleteEntities(false, true);
                    $(this).dialog("close");
                },
                Cancel: function () {
                    $(this).dialog("close");
                }
            };
            DisplayMessage(title, message, buttons);
        }
        $(function () {
            CreateTipTop("accountToken", "JSON Web Token (JWT)");
            CreateTipTop("accountClear", "Clear Media Account");
            var entityCounts = @Json.Serialize(ViewData["entityCounts"]);
            SetInventory(entityCounts);
        })
    </script>
}

@section title {
    Azure Media Services<br>Account Inventory
}

<table class="accountInventory">
    <tr>
        <td>
            <table id="inventoryLeft" class="entityCounts"></table>
        </td>
        <td>
            <table id="inventoryRight" class="entityCounts"></table>
        </td>
    </tr>
</table>

<div class="viewButtons">
    @Html.Partial("SiteButton", new string[] { "accountToken", "AccountToken.png", "ToggleToken()" })
    @if (Debugger.IsAttached)
    {
        @Html.Partial("SiteButton", new string[] { "accountClear", "AccountClear.png", "ConfirmDelete()" })
    }
</div>

<div id="authToken" class="accountToken"></div>