@section head {
    <script type="text/javascript">
        $(function () {
            alert("Sign Up & In");
        })
    </script>
}

<div class="viewTitle">
    Azure Sky Media Account Sign Up & In
</div>
