@using System.Diagnostics;

@using AzureSkyMedia.WebApp.Models;

@section head {
    <script type="text/javascript">
        function DisplayEntity(inventoryHtml, entityCount) {
            inventoryHtml = inventoryHtml + "<tr><td>";
            if (entityCount.length > 2) {
                inventoryHtml = inventoryHtml + "<span class=\"siteLink\" onclick=\"window.location.href = '" + entityCount[2] + "'\">" + entityCount[0] + "</span>";
            } else {
                inventoryHtml = inventoryHtml + entityCount[0]
            }
            return inventoryHtml + "</td><td class='entityCount'>" + entityCount[1] + "</td></tr>";
        }
        function DisplayInventory() {
            var inventoryHtml = "";
            var entityCounts = @Json.Serialize(ViewData["entityCounts"]);
            for (var i = 0; i < entityCounts.length; i++) {
                inventoryHtml = DisplayEntity(inventoryHtml, entityCounts[i]);
            }
            $("#accountInventory").html(inventoryHtml);
        }
        function DeleteEntities(skipIndexer) {
            SetCursor(true);
            $.post("/account/deleteEntities",
                {
                    skipIndexer: skipIndexer
                },
                function () {
                    SetCursor(false);
                    window.location = window.location.href;
                }
            );
        }
        function ConfirmCreate() {
            var title = "Confirm Media Account Create Assets";
            var message = "Are you sure that you want to create assets in your media account?";
            message = message + "<br><br><input id='assetType' name='assetType' type='radio' value='SBR' checked>&nbsp;Single Bitrate</input>";
            message = message + "&nbsp;&nbsp;&nbsp;<input id='assetType' name='assetType' type='radio' value='MBR'>&nbsp;Multiple Bitrates</input>"; 
            message = message + "&nbsp;&nbsp;&nbsp;<input id='assetPublish' type='checkbox' />&nbsp;Publish Assets";
            message = message + "<br><br>Asset Count&nbsp;&nbsp;<input id='assetCount' class='assetCount' value='1000' />";
            var buttons = {
                OK: function () {
                    SetCursor(true);
                    $.post("/asset/create",
                        {
                            assetCount: $("#assetCount").val(),
                            assetType: $("#assetType:checked").val(),
                            assetPublish: $("#assetPublish").prop("checked")
                        },
                        function () {
                            SetCursor(false);
                            window.location = window.location.href;
                        }
                    );
                    $(this).dialog("close");
                },
                Cancel: function () {
                    $(this).dialog("close");
                }
            };
            DisplayMessage(title, message, buttons);
            $("#assetCount").spinner({
                min: 1,
                max: 99999
            });
        }
        function ConfirmDelete() {
            var title = "Confirm Media Account Delete Entities";
            var message = "Which set of entities do you want to delete from your media account?";
            var buttons = {
                "All Entities": function () {
                    DeleteEntities(false);
                    $(this).dialog("close");
                },
                "Skip Indexer": function () {
                    DeleteEntities(true);
                    $(this).dialog("close");
                },
                Cancel: function () {
                    $(this).dialog("close");
                }
            };
            DisplayMessage(title, message, buttons);
        }
        $(function () {
            DisplayInventory();
            CreateTipBottom("mediaEntityCreate", "Media Account<br><br>Create Assets");
            CreateTipBottom("mediaEntitiesDelete", "Media Account<br><br>Delete Entities");
            CreateTipBottom("authToken", "Azure Active Directory<br><br>JSON Web Token");
            if (window.location.href.indexOf("authtoken") > -1) {
                $("#authToken").show();
            }
        })
    </script>
}

@section title {
    Media Account Inventory
}

<table id="accountInventory" class="accountInventory"></table>

<div class="viewButtons">
    <partial name="SiteButton" model='new SiteButton { ControlId = "mediaEntityCreate", ImageFile = "MediaEntityCreate.png", OnClick = "ConfirmCreate()" }' />
    @if (Debugger.IsAttached)
    {
        <partial name="SiteButton" model='new SiteButton { ControlId = "mediaEntitiesDelete", ImageFile = "MediaEntitiesDelete.png", OnClick = "ConfirmDelete()" }' />
    }
</div>

<div id="authToken" class="authToken">@ViewData["authToken"]</div>