@using System.Diagnostics;

@section head {
    <script type="text/javascript">
        function ClearAccount(allEntities) {
            $.post("/account/clear",
                {
                    allEntities: allEntities,
                },
                function (entityCounts) {
                    SetInventory(entityCounts);
                }
            );
        }
        function ConfirmClear() {
            var title = "Confirm Media Account Clear (Permanent Media Entity Deletion)";
            var message = "Do you want to delete all entities or only child assets in your media account?";
            var buttons = {
                "All Entities": function () {
                    ClearAccount(true);
                    $(this).dialog("close");
                },
                "Child Assets": function () {
                    ClearAccount(false);
                    $(this).dialog("close");
                },
                Cancel: function () {
                    $(this).dialog("close");
                }
            };
            DisplayMessage(title, message, buttons, null, null);
        }
        function SetEntity(innerHtml, entityCount) {
            innerHtml = innerHtml + "<tr><td>";
            if (entityCount.length > 2) {
                innerHtml = innerHtml + "<span class=\"siteLink\" onclick=\"window.location.href = '" + entityCount[2] + "'\">" + entityCount[0] + "</span>";
            } else {
                innerHtml = innerHtml + entityCount[0]
            }
            return innerHtml + ":</td><td class='entityCount'>" + entityCount[1] + "</td></tr>";
        }
        function SetInventory(entityCounts) {
            var innerHtml = "";
            for (var i = 0; i < 11; i++) {
                innerHtml = SetEntity(innerHtml, entityCounts[i]);
            }
            $("#inventory1").html(innerHtml);
            innerHtml = "";
            for (var i = 11; i < entityCounts.length; i++) {
                innerHtml = SetEntity(innerHtml, entityCounts[i]);
            }
            $("#inventory2").html(innerHtml);
        }
        $(function () {
            var entityCounts = @Json.Serialize(ViewData["entityCounts"]);
            SetInventory(entityCounts);
            CreateTipTop("accountDashboard", "Live Monitoring Dashboard");
            CreateTipTop("accountClear", "Clear Media Account");
        })
    </script>
}

@section title {
    Media Account Inventory
}

<table class="accountInventory">
    <tr>
        <td>
            <table id="inventory1" class="entityCounts"></table>
        </td>
        <td>
            <table id="inventory2" class="entityCounts"></table>
        </td>
    </tr>
</table>

<div class="viewButtons">
    @Html.Partial("SiteButton", new string[] { "accountDashboard", "AccountDashboard.png", "window.open('http://azure.microsoft.com/en-us/blog/azure-media-services-live-monitoring-dashboard-open-source-release/')" })
    @if (Debugger.IsAttached)
    {
        @Html.Partial("SiteButton", new string[] { "accountClear", "AccountClear.png", "ConfirmClear()" })
    }
</div>
