@section head {
    <script type="text/javascript">
        $(function () {
            var columns = GetColumns("liveEvents", "Event Name");
            var rows = @Json.Serialize(ViewData["liveEvents"]);
            var spacingPatterns = @Json.Serialize(ViewData["spacingPatterns"]);
            var spacingInserts = @Json.Serialize(ViewData["spacingInserts"]);
            LoadGrid("liveEvents", columns, rows, null, null, spacingPatterns, spacingInserts, "@ViewData["storageCdnUrl"]");
        })
    </script>
}

@section title {
    Live Events
}

<table id="liveEvents"></table>
<div id="gridPager"></div>