@section head {
    <script type="text/javascript">
        $(function () {
            var rows = @Json.Serialize(ViewData["mediaProcessors"]);
            var columns = [
                {
                    name: "id",
                    hidden: true
                },
                {
                    name: "description",
                    hidden: true
                },
                {
                    width: 400,
                    name: "name",
                    label: "Processor Name",
                    formatter: FormatColumn,
                    align: "center"
                },
                {
                    width: 125,
                    name: "version",
                    label: "Version",
                    formatter: FormatColumn,
                    align: "center"
                }
            ];
            LoadGrid("mediaProcessors", columns, rows, 400);
        })
    </script>
}

@section title {
    Media Processors
}

<table id="mediaProcessors"></table>