@section head {
    <script type="text/javascript">
        $(function () {
            var rows = @Json.Serialize(ViewData["notificationEndpoints"]);
            var columns = [
                {
                    name: "id",
                    hidden: true
                },
                {
                    width: 250,
                    name: "name",
                    label: "Endpoint Name",
                    formatter: FormatColumn,
                    align: "center"
                },
                {
                    width: 200,
                    name: "endPointType",
                    label: "Endpoint Type",
                    formatter: FormatColumn,
                    align: "center"
                },
                {
                    width: 500,
                    name: "endPointAddress",
                    label: "Endpoint Address",
                    formatter: FormatColumn
                }
            ];
            LoadGrid("notificationEndpoints", columns, rows);
        })
    </script>
}

@section title {
    Notification Endpoints
}

<table id="notificationEndpoints"></table>