@section head {
    <link type="text/css" rel="stylesheet" href="~/lib/jqgrid/css/ui.jqgrid.css" />
    <script type="text/javascript" src="~/lib/jqgrid/js/jquery.jqGrid.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var notificationEndpoints = @Html.Raw(Json.Serialize(ViewData["notificationEndpoints"]));
        })
    </script>
}

@section title {
    Notification Endpoints
}

<table id="gridView"></table>
