@section head {
    <link type="text/css" rel="stylesheet" href="~/lib/jqgrid/css/ui.jqgrid.css" />
    <script type="text/javascript" src="~/lib/jqgrid/js/jquery.jqGrid.min.js"></script>
    <script type="text/javascript" src="~/js/grid.js"></script>
    <script type="text/javascript">
        $(function () {
            var rows = @Json.Serialize(ViewData["mediaProcessors"]);
            var columns = [
                {
                    name: "id",
                    hidden: true
                },
                {
                    name: "description",
                    hidden: true
                },
                {
                    width: 400,
                    name: "name",
                    label: "Media Processor Name",
                    align: "center",
                    formatter: FormatColumn
                },
                {
                    width: 100,
                    name: "version",
                    label: "Version",
                    align: "center",
                    formatter: FormatColumn
            }
            ];
            LoadGrid(columns, rows);
        })
    </script>
}

@section title {
    Media Processors
}

<table id="gridView"></table>
