<!DOCTYPE html>
<html>
    <head>
        <title>Azure Sky Media Account Profile Edit</title>
        <link type="text/css" rel="stylesheet" href="https://www.skymedia.io/css/account.css" />
    </head>
    <body>
        <div class="policyTitle">
            Azure Sky Media Account Profile Edit
        </div>
        <div id="api"></div>
    </body>
</html>