<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <title>Azure Sky Media User Account Profile</title>
        <link type="text/css" rel="stylesheet" href="@ViewData["cssHost"]/css/account.css" />
    </head>
    <body>
        <div class="policy">
            <div class="policyTitle">
                Azure Sky Media User Account Profile
            </div>
            <div class="policyIntro">
                The following AMS account setup steps are required before creating a new user account profile:
                <ol>
                    <li>
                        <a href="http://docs.microsoft.com/azure/media-services/latest/create-account-cli-how-to" target="_blank">Azure Media Services (AMS) Account Creation</a>
                    </li>
                    <li>
                        <a href="http://docs.microsoft.com/azure/media-services/latest/access-api-cli-how-to" target="_blank">Azure Media Services (AMS) Account API Access</a>
                    </li>
                </ol>
            </div>
        </div>
        <div id="api"></div>
    </body>
</html>