<!DOCTYPE html>
<html>
    <head>
        <title>Azure Sky Media Account Sign Up</title>
        <link type="text/css" rel="stylesheet" href="https://www.skymedia.io/css/account.css" />
    </head>
    <body>
        <div class="policyTitle">
            Azure Sky Media Account Sign Up
        </div>
        <div class="policyIntro">
            Welcome! If you have not yet <a href="http://docs.microsoft.com/en-us/azure/media-services/media-services-portal-create-account" target="_blank">setup an Azure Media Services (AMS) account</a>,
            please do so <i>before</i> completing the Azure Sky Media account sign up process below.
            <br /><br />
            After your AMS account is setup, you will be able to <a href="http://docs.microsoft.com/en-us/azure/media-services/media-services-portal-get-started-with-aad#service-principal-authentication" target="_blank">setup Service Principal authentication</a>
            in order to provide the Client Id and Client Key parameter values below.
        </div>
        <div id="api"></div>
    </body>
</html>