<!DOCTYPE html>
<html>
    <head>
        <title>Azure Sky Media Account Sign In</title>
        <link type="text/css" rel="stylesheet" href="@ViewData["cssHost"]/css/account.css" />
    </head>
    <body>
        <div class="policy">
            <div class="policyTitle">
                Azure Sky Media Account Sign In
            </div>
            <div class="policyIntro">
                To sign into Azure Sky Media and enable your media workflow,<br>
                select a social identity provider or use the local account provider.
            </div>
        </div>
        <div id="api" class="apiSignIn"></div>
    </body>
</html>