@section head {
    <script type="text/javascript">
        $(function () {
            var columns = GetColumns("streamingEndpoints", "Endpoint Name");
            var rows = @Json.Serialize(ViewData["streamingEndpoints"]);
            var spacingPatterns = @Json.Serialize(ViewData["spacingPatterns"]);
            var spacingInserts = @Json.Serialize(ViewData["spacingInserts"]);
            LoadGrid("streamingEndpoints", columns, rows, null, null, spacingPatterns, spacingInserts, "@ViewData["storageCdnUrl"]");
        })
    </script>
}

@section title {
    Streaming Endpoints
}

<table id="streamingEndpoints"></table>
<div id="gridPager"></div>