@section head {
    <script type="text/javascript">
        $(function () {
            var columns = GetColumns("streamingPolicies", "Streaming Policy Name");
            var rows = @Json.Serialize(ViewData["streamingPolicies"]);
            var spacingPatterns = @Json.Serialize(ViewData["spacingPatterns"]);
            var spacingInserts = @Json.Serialize(ViewData["spacingInserts"]);
            LoadGrid("streamingPolicies", columns, rows, null, null, spacingPatterns, spacingInserts, "@ViewData["storageCdnUrl"]");
        })
    </script>
}

@section title {
    Streaming Policies
}

<div class="grid">
    <table id="streamingPolicies"></table>
    <div id="gridPager"></div>
</div>