@section head {
    <script type="text/javascript">
        $(function () {
            var columns = GetColumns("streamingLocators", "Streaming Locator Name");
            var rows = @Json.Serialize(ViewData["streamingLocators"]);
            var spacingPatterns = @Json.Serialize(ViewData["spacingPatterns"]);
            var spacingInserts = @Json.Serialize(ViewData["spacingInserts"]);
            LoadGrid("streamingLocators", columns, rows, null, null, spacingPatterns, spacingInserts, "@ViewData["storageCdnUrl"]");
        })
    </script>
}

@section title {
    Streaming Locators
}

<div class="grid">
    <table id="streamingLocators"></table>
    <div id="gridPager"></div>
</div>