@section head {
    <script type="text/javascript">
        $(function () {
            var rows = @Json.Serialize(ViewData["streamingEndpoints"]);
            var columns = [
                {
                    width: 500,
                    name: "name",
                    label: "Streaming Endpoint Name",
                    formatter: FormatColumn,
                    align: "center"
                },
                {
                    width: 100,
                    label: "Delete",
                    formatter: FormatDelete,
                    align: "center"
                }
            ];
            LoadGrid("streamingEndpoints", columns, rows, "@ViewData["storageCdnUrl"]", "streaming endpoint");
        })
    </script>
}

@section title {
    Streaming Endpoints
}

<table id="streamingEndpoints"></table>