@section head {
    <script type="text/javascript">
        $(function () {
            var columns = GetColumns("streamingFilters", "Filter Name");
            var rows = @Json.Serialize(ViewData["streamingFilters"]);
            var spacingPatterns = @Json.Serialize(ViewData["spacingPatterns"]);
            var spacingInserts = @Json.Serialize(ViewData["spacingInserts"]);
            LoadGrid("streamingFilters", columns, rows, null, null, spacingPatterns, spacingInserts, "@ViewData["storageCdnUrl"]");
        })
    </script>
}

@section title {
    Streaming Filters
}

<table id="streamingFilters"></table>
<div id="gridPager"></div>