@section head {
    <script type="text/javascript">
        $(function () {
            var rows = @Json.Serialize(ViewData["streamingPolicies"]);
            var columns = [
                {
                    width: 500,
                    name: "name",
                    label: "Streaming Policy Name",
                    formatter: FormatColumn,
                    align: "center"
                },
                {
                    width: 100,
                    label: "Delete",
                    formatter: FormatDelete,
                    align: "center"
                }
            ];
            LoadGrid("streamingPolicies", columns, rows, "@ViewData["storageCdnUrl"]", "streaming policy");
        })
    </script>
}

@section title {
    Streaming Policies
}

<table id="streamingPolicies"></table>