@section head {
    <script type="text/javascript">
        $(function () {
            var columns = [
                {
                    width: 500,
                    name: "name",
                    label: "Streaming Filter Name",
                    align: "center"
                },
                {
                    width: 100,
                    label: "Actions",
                    formatter: FormatActions,
                    align: "center"
                }
            ];
            var rows = @Json.Serialize(ViewData["streamingFilters"]);
            LoadGrid("streamingFilters", columns, rows, "@ViewData["storageCdnUrl"]");
        })
    </script>
}

@section title {
    Streaming Filters
}

<table id="streamingFilters"></table>