@section head {
    <script type="text/javascript">
        $(function () {
            var columns = [
                {
                    width: 500,
                    name: "name",
                    label: "Streaming Locator Name",
                    align: "center"
                },
                {
                    width: 100,
                    label: "Actions",
                    formatter: FormatActions,
                    align: "center"
                }
            ];
            var rows = @Json.Serialize(ViewData["streamingLocators"]);
            LoadGrid("streamingLocators", columns, rows, "@ViewData["storageCdnUrl"]");
        })
    </script>
}

@section title {
    Locators
}

<table id="streamingLocators"></table>