@section head {
    <script type="text/javascript">
        $(function () {
            var columns = GetColumns("transforms");
            var rows = @Json.Serialize(ViewData["transforms"]);
            LoadGrid("transforms", columns, rows, "@ViewData["storageCdnUrl"]");
        })
    </script>
}

@section title {
    Transforms
}

<table id="transforms"></table>