@section head {
    <script type="text/javascript">
        $(function () {
            var columns = GetColumns("transformJobs");
            var rows = @Json.Serialize(ViewData["transformJobs"]);
            LoadGrid("transformJobs", columns, rows, "@ViewData["storageCdnUrl"]");
        })
    </script>
}

@section title {
    Transform Jobs
}

<table id="transformJobs"></table>