@section head {
    <script type="text/javascript">
        $(function () {
            var columns = GetColumns("transformJobs", "Transform Job Name");
            var rows = @Json.Serialize(ViewData["transformJobs"]);
            var spacingPatterns = @Json.Serialize(ViewData["spacingPatterns"]);
            var spacingInserts = @Json.Serialize(ViewData["spacingInserts"]);
            LoadGrid("transformJobs", columns, rows, "transformJobOutputs", "properties.outputs", spacingPatterns, spacingInserts, "@ViewData["storageCdnUrl"]");
        })
    </script>
}

@section title {
    Transform Jobs
}

<div class="grid">
    <table id="transformJobs"></table>
    <div id="gridPager"></div>
</div>