@section head {
    <script type="text/javascript">
        $(function () {
            var columns = GetColumns("transforms", "Transform Name");
            var rows = @Json.Serialize(ViewData["transforms"]);
            var spacingPatterns = @Json.Serialize(ViewData["spacingPatterns"]);
            var spacingInserts = @Json.Serialize(ViewData["spacingInserts"]);
            LoadGrid("transforms", columns, rows, "transformOutputs", "properties.outputs", spacingPatterns, spacingInserts, "@ViewData["storageCdnUrl"]");
        })
    </script>
}

@section title {
    Transforms
}

<table id="transforms"></table>
<div id="gridPager"></div>