@section head {
    <script type="text/javascript">
        function CreateEntity() {
            alert("Create!");
        }
        $(function () {
            var columns = GetColumns("transforms");
            var rows = @Json.Serialize(ViewData["transforms"]);
            LoadGrid("transforms", columns, rows, "@ViewData["storageCdnUrl"]");
            CreateTipTop("mediaEntityCreate", "Create New Transform");
        })
    </script>
}

@section title {
    Media Transforms
}

<table id="transforms"></table>

<div class="viewButtons">
    @Html.Partial("SiteButton", new string[] { "mediaEntityCreate", "MediaEntityCreate.png", "CreateEntity()" })
</div>