@section head {
    <link type="text/css" rel="stylesheet" href="~/lib/jstree/dist/themes/default/style.min.css" />
    <script type="text/javascript" src="~/lib/jstree/dist/jstree.min.js"></script>
    <script type="text/javascript" src="~/js/tree.js"></script>
    <script type="text/javascript">
        $(function () {
            LoadTreeNodes(false);
        })
    </script>
}

@section title {
    Media Asset Library
}

<div id="mediaAssets" class="mediaAssets libraryView"></div>

<div class="viewButtons">
    @Html.Partial("SiteButton", new string[] { "accountInventory", "AccountInventory.png", "window.location.href = '/account'" })
</div>
