@using AzureSkyMedia.WebApp.Models;

@{
    string gridId = "assets";
}

@section head {
    <script type="text/javascript">
        $(function () {
            _childGridType = "assetFiles";
            _childPropertyName = "files";
            var gridId = "@gridId";
            var rows = @Json.Serialize(ViewData[gridId]);
            LoadGrid(gridId, rows);
            CreateTipBottom("mediaGallery", "Media Gallery");
        })
    </script>
}

@section title {
    Media Assets
}

<div class="grid">
    <table id="@gridId"></table>
    <div id="gridPager"></div>
</div>

<div class="viewButtons">
    <partial name="SiteButton" model='new SiteButton { ControlId = "mediaGallery", ImageFile = "MediaGallery.png", RelativeUrl = "/asset/gallery" }' />
</div>