@{
    string gridId = "assets";
}

@section head {
    <script type="text/javascript">
        $(function () {
            _childGridType = "assetFiles";
            _childPropertyName = "files";
            var gridId = "@gridId";
            var rows = @Json.Serialize(ViewData[gridId]);
            LoadGrid(gridId, rows);
        })
    </script>
}

@section title {
    Media Asset
}

<div class="grid">
    <table id="@gridId"></table>
</div>