@using AzureSkyMedia.WebApp.Models;

@{
    string ampVersion = ViewData["mediaPlayerVersion"].ToString();
    string ampSkin = ViewData["mediaPlayerSkin"].ToString();
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <title>Azure Media Thumbnail Sprite Tip</title>
        <link type="text/css" rel="stylesheet" href="//amp.azure.net/libs/amp/@ampVersion/skins/@ampSkin/azuremediaplayer.min.css" />
        <script type="text/javascript" src="//amp.azure.net/libs/amp/@ampVersion/azuremediaplayer.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="~/js/amp/amp-spriteTip.js"></script>
        <script type="text/javascript" src="~/js/player.js"></script>
        <script type="text/javascript">
            $(function () {
                var spriteVttUrl = "//skystreameast-use22.streaming.media.azure.net/e15c6fde-4676-49fb-9d58-1430b0b8d167/Tears of Steel_000001.vtt";
                var mediaPlayer = GetMediaPlayer("videoPlayer", null, null, true, false, false, spriteVttUrl);
                mediaPlayer.src(
                    [{
                        src: "//skystreameast-use22.streaming.media.azure.net/e15c6fde-4676-49fb-9d58-1430b0b8d167/Tears of Steel.ism/manifest"
                    }]
                );
            })
        </script>
    </head>
    <body>
        <partial name="MediaPlayer" model='new MediaPlayer { ContainerStyle = "mediaPlayer", ControlId = "videoPlayer", SkinName = "amp-flush" }' />
    </body>
</html>