@using AzureSkyMedia.WebApp.Models;

@section head {
    <script type="text/javascript">
        function CreateJob() {
            alert("Create!");
        }
        $(function () {
            var columns = GetColumns("transformJobs", "Job Name");
            var rows = @Json.Serialize(ViewData["transformJobs"]);
            var spacingPatterns = @Json.Serialize(ViewData["spacingPatterns"]);
            var spacingInserts = @Json.Serialize(ViewData["spacingInserts"]);
            LoadGrid("transformJobs", columns, rows, "transformJobOutputs", "properties.outputs", spacingPatterns, spacingInserts, "@ViewData["storageCdnUrl"]");
            CreateTipBottom("mediaEntityCreate", "Create New Job");
        })
    </script>
}

@section title {
    Media Jobs
}

<div class="grid">
    <table id="transformJobs"></table>
    <div id="gridPager"></div>
</div>

<div class="viewButtons">
    <partial name="SiteButton" model='new SiteButton { ClientId = "mediaEntityCreate", ImageFile = "MediaEntityCreate.png", OnClick = "CreateJob()" }' />
</div>