@{
    string gridId = "transformJobs";
}

@section head {
    <script type="text/javascript" src="~/js/transformJob.js"></script>
    <script type="text/javascript">
        $(function () {
            _childGridType = "transformJobOutputs";
            _childPropertyName = "properties.outputs";
            var gridId = "@gridId";
            var rows = @Json.Serialize(ViewData[gridId]);
            LoadGrid(gridId, rows);
       })
    </script>
}

@section title {
    Media Transform Job
}

<div class="grid">
    <table id="transformJobs"></table>
</div>