body {
    background-color: black;
    color: deepskyblue;
    text-align: center;
}

button {
    background-color: deepskyblue;
    border-radius: 20px;
    font-size: medium;
    font-weight: bold;
    height: 40px;
}

.policyTitle {
    font-size: x-large;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px;
}

.policyIntro {
    font-size: x-large;
    font-style: italic;
    padding-top: 10px;
}

.accountButton {
    margin-left: 15px;
    margin-right: 15px;
    width: 120px;
}

.accountButton:hover {
    cursor: pointer;
}

.social .options div {
    display: inline-block;
}

.localAccount .entry {
    display: inline-table;
    font-size: large;
}

.localAccount .entry .entry-item {
    text-align: right;
}

.localAccount .entry .entry-item input {
    width: 150px;
}

.password-label {
    display: inline;
}

.password-label #forgotPassword {
    position: absolute;
    margin-left: 160px;
}

.localAccount #next {
    margin-top: 20px;
    width: 100px;
}

.localAccount #next:hover {
    cursor: pointer;
}

.localAccount .create {
    font-size: large;
}

.localAccount .create #createAccount {
    margin-left: 5px;
}

/*ul {
    list-style-type: none;
}

label {
    font-style: italic;
    font-weight: bold;
    font-size: large;
}

.buttons {
    text-align: center;
}

.buttons button {
    width: 120px;
}

.verify button {
    width: auto;
}

.verify {
    text-align: left;
}

#email {
    margin-bottom: 10px;
}


.textInput {
    width: 400px !important;
}

.attrEntry {
    padding-bottom: 20px;
}

.helpLink {
    display: none;
}*/