body {
    background-color: black;
    color: deepskyblue;
    text-align: left;
}

label {
    padding-right: 5px;
    font-weight: bold;
    font-size: large;
}

button {
    background-color: deepskyblue;
    border-radius: 20px !important;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: bold;
    font-size: large !important;
    height: 40px;
    width: 120px !important;
}

button:hover {
    cursor: pointer;
}

.verify button {
    width: auto !important;
}

.policy {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.policyTitle {
    font-size: xx-large;
    font-weight: bold;
}

.policyIntro {
    font-size: x-large;
    font-style: italic;
    padding-top: 10px;
}

.policyPrerequisite {
    text-decoration: underline;
}

.apiSignIn {
    text-align: center;
}

.social .options div {
    display: inline-block;
}

.localAccount .entry {
    display: inline-table;
    font-size: large;
}

.localAccount .entry .entry-item {
    text-align: right;
}

.localAccount .entry .entry-item input {
    width: 150px;
}

.localAccount .password-label {
    display: inline;
}

.localAccount .password-label #forgotPassword {
    position: absolute;
    margin-left: 160px;
}

.localAccount #next {
    margin-top: 20px;
}

.localAccount .create {
    font-size: large;
}

.localAccount .create a {
    margin-left: 5px;
}

.attrEntry {
    padding-bottom: 20px;
}

.attrEntry div {
    display: inline;
}

.textInput {
    width: 400px !important;
}

.helpLink {
    display: none;
}

.buttons {
    text-align: center;
}