@media all and (max-width: 599px) {
    #siteCode, #userDirectory, #userProfileEdit, .layoutPanel.side, #mediaUpload, #mediaTransform, #mediaJob, #mediaSearch, #mediaEdit, #mediaGallery {
        display: none !important;
    }

    .header, .mediaPlayer {
        width: 400px !important;
    }

    .viewTitle, .accountContext, .streamUrl {
        font-size: medium !important;
    }

    .streamName {
        font-size: large !important;
    }
}

@media all and (min-width: 600px) and (max-width: 799px) {
    .layoutPanel.side, #mediaUpload, #mediaTransform, #mediaJob, #mediaSearch, #mediaEdit, #mediaGallery {
        display: none !important;
    }

    .header, .mediaPlayer {
        width: 600px !important;
    }

    .viewTitle, .accountContext, .streamUrl {
        font-size: large !important;
    }

    .streamName {
        font-size: x-large !important;
    }
}

body {
    color: deepskyblue;
    background-color: black;
}

.layout {
    margin: 0px auto;
    text-align: center;
}

.layoutPanel {
    vertical-align: top;
}

.layoutPanel.body {
    padding-top: 10px;
}

.header {
    margin: 0px auto;
    width: 800px;
}

.headerCenter {
    width: 100%;
}

.headerSide {
    white-space: nowrap;
}

.headerSide.right {
    text-align: right;
}

.qtip {
    border-radius: 20px;
    max-width: 1080px;
    padding: 5px;
}

.qtip-content {
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.authToken {
    margin: 20px auto;
    overflow: hidden;
    display: none;
    width: 200px;
}

.siteButton {
    border: none;
    background: none;
}

.siteButton:hover {
    cursor: pointer;
}

.siteButton.layoutVertical {
    width: 65px;
    height: 79px;
}

.siteLink {
    font-weight: bold;
    text-decoration: none;
}

.siteLink:hover {
    cursor: pointer;
}

.viewTitle {
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
}

.viewButtons {
    margin-top: 20px;
}

.viewButtons button {
    margin-left: 10px;
    margin-right: 10px;
}

.accountContext {
    font-size: large;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 10px;
}

.accountInventory {
    border: 1px solid deepskyblue;
    border-radius: 20px;
    font-weight: bold;
    font-size: large;
    padding: 10px;
}

.accountInventory td {
    text-align: right;
    padding: 5px;
}

.entityCount {
    color: azure;
}

.assetCount {
    width: 60px;
}

.mediaEntity {
    border: 1px solid deepskyblue;
    border-radius: 20px;
    padding-top: 20px;
    margin-top: 20px;
    width: 100%;
}

.mediaEntityName {
    font-weight: bold;
    width: 400px;
}

.mediaEntityName.mediaJob {
    width: 405px !important;
}

.mediaEntityName.mediaEntityDescription {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mediaEntityProperties {
    margin: 0px auto;
}

.mediaEntityProperties.mediaJob {
    margin-bottom: 10px;
}

.mediaEntityProperties td {
    padding: 5px;
}

.mediaEntityFound {
    border: none;
    background-color: none;
}

.mediaEntityNotFound {
    border: 1px red solid;
    background-color: red;
}

.mediaPlayer {
    width: 800px;
}

.mediaPlayerButton {
    margin-top: 5px;
}

.mediaModules {
    margin: 10px auto;
}

.mediaModulesButton {
    padding-left: 5px;
    padding-right: 5px;
}

.ui-slider {
    background: deepskyblue;
    height: 5px;
}

.ui-slider-handle {
    background: deepskyblue !important;
    border-radius: 20px;
}

.streamTuner {
    width: 150px;
}

.streamTunerHandle {
    color: azure !important;
    top: -12px !important;
    text-align: center;
}

.streamNumber {
    font-size: x-large;
    font-weight: bold;
    color: azure;
}

.streamNumber.sideLeft {
    padding-right: 15px;
}

.streamNumber.sideRight {
    padding-left: 15px;
}

.streamName {
    font-size: xx-large;
    font-weight: bold;
}

.streamName.galleryView {
    margin-top: 130px;
}

.streamDescription {
    font-size: x-large;
    font-style: italic;
    margin-top: 20px;
}

.streamUrl {
    font-size: x-large;
    font-style: italic;
    margin-top: 10px;
}

#mediaStreamLeft {
    padding-left: 30px;
}

#mediaStreamRight {
    padding-right: 30px;
}

.mediaServicesCompliance {
    margin-top: 30px;
}

.ui-dialog-title {
    float: none !important;
}

.ui-dialog-titlebar {
    text-align: center;
}

.ui-dialog-titlebar-close {
    margin-top: -9px !important;
    margin-right: -7px !important;
    display: none;
}

.ui-dialog-content {
    min-height: 30px !important;
    max-width: 1080px;
    text-align: center;
    margin-top: 10px;
}

.ui-dialog .ui-dialog-buttonpane {
    border-top: 1px solid deepskyblue;
    text-align: center;
    padding-right: 0px;
    padding-top: 15px;
}

.ui-dialog .ui-dialog-buttonpane button {
    border-radius: 20px;
    width: 200px;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none;
}

.inputLabel {
    white-space: nowrap;
    font-weight: bold;
    text-align: right;
}

.inputLabel.centered {
    text-align: center;
}

.inputLabel.transformPresets {
    padding-top: 30px;
}

.inputSelect {
    font-weight: bold;
}

.inputSelect.mediaJob {
    width: 100%;
}

.inputOption {
    text-align: left;
}

.jobOutputAssets {
    padding: 0px !important;
}

.jobOutputAssets table {
    margin: 0px auto;
}

.jobData {
    margin-bottom: 15px;
    text-align: left;
    height: 225px;
    width: 400px;
}

.jsoneditor-field {
    background-color: transparent !important;
    color: azure !important;
}

.jsoneditor-value {
    background-color: transparent !important;
}

.indexerInsight {
    background-color: azure;
    vertical-align: bottom;
    display: none;
    width: 600px;
}

.contentMetadata {
    text-align: left;
    display: none;
    height: 600px;
    width: 900px;
}

.videoClipper {
    width: 1080px;
}

.carouselContainer {
    perspective: 2000px;
    margin: 0px auto;
    height: 225px;
    width: 400px;
}

.carousel {
    transform-style: preserve-3d;
    transition: transform 1s;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50px;
}

.carouselItem {
    border: 1px solid deepskyblue;
    position: absolute;
    height: 100%;
    width: 100%;
}

.searchQuery {
    width: 300px;
}

.searchResults {
    text-align: left;
    height: 500px;
    width: 800px;
}

#underConstruction {
    margin-top: 180px;
}