@media all and (max-width: 480px) {
    #siteCode, #userDirectory, #userProfileEdit, .layoutPanel.side, #userButtonLeft1, #userButtonLeft2, #userButtonLeft3, #userButtonRight1, #userButtonRight2, #userButtonRight3 {
        display: none !important;
    }

    .header, .mediaPlayer {
        width: 400px !important;
    }

    .viewTitle, .streamInfo, .accountContext {
        font-size: medium !important;
    }

    .viewTitle {
        width: 75px;
    }
}

@media all and (min-width: 481px) and (max-width: 768px) {
    .layoutPanel.side, #userButtonLeft1, #userButtonLeft2, #userButtonLeft3, #userButtonRight1, #userButtonRight2, #userButtonRight3 {
        display: none !important;
    }

    .header, .mediaPlayer {
        width: 480px !important;
    }

    .viewTitle, .streamInfo, .accountContext {
        font-size: large !important;
    }

    .viewTitle {
        width: 100px;
    }
}

body {
    background-color: black;
    color: deepskyblue;
}

.layout {
    margin: 0px auto;
}

.layoutPanel {
    vertical-align: top;
}

.layoutPanel.side {
    display: normal;
}

.header {
    margin: 0px auto;
    width: 720px;
}

.headerSide {
    white-space: nowrap;
}

.headerSide.right {
    text-align: right;
}

.accountContext {
    margin-bottom: 10px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: large;
}

.siteButton {
    background: none;
    border: none;
}

.siteButton:hover {
    cursor: pointer;
}

.siteButton.layoutVertical {
    height: 75px;
    width: 60px;
}

.siteLink {
    text-decoration: none;
    font-weight: bold;
}

.siteLink:hover {
    cursor: pointer;
}

.qtip {
    border-radius: 20px;
    max-width: 1080px;
    padding: 5px;
}

.qtip-content {
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.streamTuner {
    padding-left: 10px;
    padding-right: 10px;
}

.streamTuner table {
    margin: 0px auto;
}

.streamSlider {
    width: 150px;
}

.streamSliderHandle {
    color: azure !important;
    top: -12px !important;
    text-align: center;
}

.streamNumber {
    font-size: x-large;
    font-weight: bold;
    color: azure;
}

.streamNumber.sideLeft {
    padding-right: 15px;
}

.streamNumber.sideRight {
    padding-left: 15px;
}

.streamInfo {
    font-size: x-large;
    text-align: center;
}

.streamInfoName {
    font-weight: bold;
}

.streamInfoUrl {
    font-style: italic;
    margin-top: 10px;
}

.viewTitle {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.viewButtons {
    text-align: center;
    margin-top: 20px;
}

.viewButtons table {
    margin: 0px auto;
}

.json-editor {
    padding-top: 10px !important;
    min-width: 775px;
}

.mediaProcessorPresets {
    margin: 0px auto;
}

.mediaProcessorPresets select {
    font-weight: bold;
    width: 100%;
}

.mediaProcessorPresetButtons {
    padding-right: 15px;
    margin-top: -30px;
    display: none;
    float: right;
}

.mediaProcessor {
    font-weight: bold;
    width: 195px;
}

.mediaProcessorConfig {
    font-weight: bold;
    width: 419px;
}

.mediaProcessorConfigOptions {
    border: 2px dotted deepskyblue;
    white-space: nowrap;
    width: 436px;
}

.mediaProcessorConfigOptionOr {
    font-style: italic;
    font-size: large;
    padding-left: 5px;
    padding-right: 5px;
}

.mediaProcessorConfigOptionColon {
    padding: 0px !important;
}

.encoderThumbnailGenerationOptions {
    width: 484px;
}

.encoderThumbnailGenerationOptionsTable {
    padding-top: 0px !important;
}

.encoderContentProtectionOptions {
    width: 490px;
}

.encoderVideoOverlayOptions {
    width: 506px;
}

.mediaCertification {
    text-align: center;
    padding-top: 20px;
}

.ui-spinner-input {
    margin-top: 0px;
    margin-bottom: 0px;
}

.spinner {
    font-size: medium !important;
    font-weight: bold;
}

.spinner.d2 {
    width: 28px;
}

.spinner.d3 {
    width: 36px;
}

.spinner.d4 {
    width: 45px;
}

.ui-slider {
    background: deepskyblue;
    height: 5px;
}

.ui-slider-handle {
    background: deepskyblue !important;
    border-radius: 10px;
}

.sliderHandle {
    height: 15px !important;
}

.sliderLabel {
    font-weight: bold;
    margin-left: 5px;
    color: azure;
}

.slider {
    display: inline-block;
    margin-left: 15px;
}

.slider.jobPriority {
    width: 112px;
}

.ui-dialog-title {
    float: none !important;
}

.ui-dialog-titlebar {
    text-align: center;
}

.ui-dialog-titlebar-close {
    display: none;
}

.ui-dialog-content {
    text-align: center;
    margin-top: 10px;
}

.ui-dialog .ui-dialog-buttonpane {
    border-top: 1px solid deepskyblue;
    text-align: center;
    padding-right: 0px;
    padding-top: 15px;
}

.ui-dialog .ui-dialog-buttonpane button {
    border-radius: 20px;
    width: 200px;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { 
    float: none;
}

.plupload_container {
    border: 1px solid deepskyblue;
    border-radius: 20px;
    margin-top: 10px;
}

.plupload_header {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.plupload_filelist_footer {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.plupload_file_status {
    text-align: left !important;
}

.plupload_total_status {
    padding-left: 13px;
}

.plupload_file_size {
    white-space: nowrap;
    padding-left: 15px;
}

.plupload_total_file_size {
    display: inline-block;
    padding-right: 10px;
    width: 55px;
}

.plupload_progress_container {
    height: 10px;
    width: 95px;
}

.plupload_progress {
    margin-right: 70px;
}

.plupload_upload_status {
    padding-left: 30px !important;
}

.mediaUpload {
    margin: 0px auto;
}

.mediaUpload td {
    padding: 5px;
}

.mediaWorkflow {
    border: 1px solid deepskyblue;
    border-radius: 20px;
    padding-left: 10px;
    padding-top: 5px;
    width: 720px;
}

.mediaWorkflow td {
    padding: 5px;
}

.mediaWorkflowJob td {
    padding-bottom: 10px;
}

.mediaWorkflowTaskRow td {
    padding: 0px;
}

.mediaWorkflowTaskLink td {
    padding: 0px;
}

.mediaWorkflowTaskLink hr {
    border: 1px dashed deepskyblue;
    height: 15px;
    margin: 0px;
    width: 0px;
}

.mediaWorkflowTaskButtons {
    text-align: center;
    width: 100%;
}

.mediaWorkflowControls td {
    padding: 3px 0px 0px 0px !important;
    white-space: nowrap;
}

.mediaWorkflowStart {
    text-align: right;
    width: 100%;
}

.mediaAssets {
    background-color: deepskyblue;
    border-radius: 20px;
    color: darkblue;
    overflow: auto;
}

.mediaAssets.filesView {
    height: 450px;
    width: 800px;
}

.mediaAssets.workflowView {
    height: 300px;
    width: 685px;
}

.mediaLock {
    vertical-align: text-bottom;
}

.mediaFile > .jstree-checkbox {
    display: none !important;
}

.jstree-hovered {
  background: deepskyblue !important;
  box-shadow: none !important;
  color: yellow !important;
}

.jstree-clicked {
  background: deepskyblue !important;
  box-shadow: none !important;
}

.jstree-checkbox {
    width: 28px !important;
}

.jstree-anchor {
    padding: 0px !important;
}

.jstree-node {
    font-weight: bold;
    font-size: large;
}

.treeNodeClipped {
    font-style: italic;
}

.inputLabel {
    padding-right: 0px !important;
    white-space: nowrap;
    font-weight: bold;
    text-align: right;
}

.inputLabel.large {
    font-size: large;
}

.inputLabelMultiLine {
    display: inline-block;
    text-align: center;
}

.inputSelect {
    font-weight: bold;
}

.inputCheckbox {
    margin-left: 0px;
}

.inputCheckboxLabel {
    vertical-align: top;
}

.storageAccount {
    font-weight: bold;
    overflow: hidden;
    width: 600px;
}

.assetName {
    font-weight: bold;
    width: 175px;
}

.assetDescription {
    font-weight: bold;
    width: 214px;
}

.assetAlternateId {
    font-weight: bold;
    width: 175px;
}

.mediaUploadOptions {
    text-align: center;
}

.standardEncoderAsset {
    margin-left: 60px;
}

.uploadMessage {
    position: relative;
    bottom: 32px;
    left: 300px;
}

.entitiesMessage {
    text-align: center;
    font-size: x-large;
    font-style: italic;
    font-weight: bold;
    margin-top: 30px;
}

.outputAssetName {
    font-weight: bold;
    width: 191px;
}

.encoderOptions {
    padding: 0px !important;
}

.encoderOptions td {
    padding: 2px !important;
}

.encoderThumbnailGenerationFormatLabel {
    margin-left: 1px;
}

.encoderThumbnailGenerationFormat {
    margin-left: 4px;
    width: 76px;
}

.encoderThumbnailGenerationSprite {
    padding-right: 0px !important;
}

.encoderThumbnailGenerationSpriteColumns {
    padding-left: 0px !important;
}

.audioAnalyzerLanguage {
    width: 186px;
}

.audioAnalyzerSpeech {
    margin-left: 5px;
}

.videoAnalyzerLanguage {
    font-weight: bold;
    width: 187px;
}

.videoAnalyzerSearchPartition {
    font-weight: bold;
    width: 183px;
}

.videoAnalyzerVideoMetadata {
    font-weight: bold;
    width: 216px;
}

.faceDetectionMode {
    padding-left: 2px !important;
}

.faceRedactionBlurMode {
    font-weight: bold;
    width: 107px;
}

.motionSensitivityLevel {
    width: 111px;
}

.jobName {
    font-weight: bold;
    width: 348px;
}

.jobTask {
    border: 1px dashed deepskyblue;
    font-weight: bold;
    padding-left: 5px;
    margin-left: 5px;
    width: 610px;
}

.jobTask td {
    padding: 5px;
}

.jobTaskParent {
    font-weight: bold;
    width: 35px;
}

.jobTaskOptions {
    width: 230px !important;
    max-height: 85px;
}

.multiSelectOptions {
    font-size: small;
}

.contentProtectionOptionsEncryptionDrm {
    border: 1px dotted deepskyblue;
    padding: 3px 6px 3px 5px;
}

.contentProtectionOptionsEncryptionDrmOption {
    margin-left: 5px;
}

.contentAuthAddressRange {
    width: 132px;
}

.ui-jqgrid {
    border: none !important;
    background: background;
}

.ui-jqgrid-hbox {
    background: background;
}

.ui-jqgrid-hdiv {
    border: none !important;
}

.ui-jqgrid-htable th {
    border-radius: 20px;
}

.ui-jqgrid-htable div {
    height: 20px !important;
}

.ui-jqgrid-view {
    font-size: medium !important;
}

.jqgrow td {
    font-weight: bold !important;
    height: 30px !important;
    border: none !important;
    background: background;
}

.jqgrow:hover td {
    cursor: pointer;
}

.accountInventory {
    border: 1px solid deepskyblue;
    border-radius: 20px;
    margin-top: 30px;
}

.entityCounts {
    font-style: italic;
    font-weight: bold;
    font-size: large;
    margin: 10px;
}

.entityCounts td {
    text-align: right;
    padding: 5px;
}

.entityCount {
    color: azure;
}

.authToken {
    margin: 20px auto;
    overflow: hidden;
    width: 200px;
}

.mediaPlayer {
    width: 800px;
}

.mediaPlayerButton {
    padding-top: 4px !important;
    background: none;
    border: none;
}

.mediaPlayerButton.mediaMetadata {
    padding-top: 8px !important;
}

.mediaControls {
    margin: 10px auto;
}

.videoClipper {
    width: 1080px;
}

.clipLoader {
    text-align: center;
    font-size: large;
    margin-top: 20px;
}

.indexerInsight {
    display: none;
    height: 500px;
    width: 800px;
}

.analyticsInsight {
    margin-top: 10px;
    font-size: large;
    display: none;
}

.analyticsProcessors {
    text-align: center;
}

.analyticsProcessors select {
    font-weight: bold;
    margin-left: 5px;
    width: 180px;
}

.analyticsMetadata {
    background-color: deepskyblue;
    margin-top: 10px;
    color: darkblue;
    overflow: auto;
    height: 400px;
    width: 800px;
}

.insightSearchCriteria {
    border: 1px solid deepskyblue;
    border-radius: 20px;
    padding: 5px;
}

.insightSearchCriteria td {
    padding: 5px;
}

.searchLanguage {
    width: 100%;
}

a.json-placeholder {
    color: azure;
}

.json-string {
    color: azure;
}