.storageAccount {
    font-weight: bold;
    width: 600px;
}

.assetName {
    font-weight: bold;
    width: 175px;
}

.assetDescription {
    font-weight: bold;
    width: 214px;
}

.assetAlternateId {
    font-weight: bold;
    width: 175px;
}

.plupload_container {
    border: 1px solid deepskyblue;
    border-radius: 20px;
    text-align: left;
    margin-top: 10px;
}

.plupload_header {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.plupload_filelist_footer {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.plupload_file_status {
    width: 80px !important;
    text-align: center !important;
}

.plupload_file_percent {
    margin-right: 10px;
}

.plupload_file_size {
    white-space: nowrap;
    width: 50px !important;
    text-align: center !important;
}

.plupload_total_status {
    margin-right: 15px;
}

.plupload_total_file_size {
    display: inline-block;
    padding-right: 15px;
    width: 50px;
}

.plupload_progress_container {
    height: 10px;
    width: 100px;
}

.plupload_progress {
    margin-right: 55px;
}

.plupload_upload_status {
    padding-left: 32px;
}

.mediaUpload {
    margin: 0px auto;
}

.mediaUpload td {
    padding: 5px;
}

.mediaUploadOptions {
    margin: 0px auto;
}

.mediaUploadOptions td {
    padding-bottom: 10px;
}

.mediaUploadEncoderPreset {
    text-align: center;
    vertical-align: top;
}

.mediaUploadOption {
    padding-left: 50px;
}

.mediaUploadMessage {
    position: relative;
    text-align: left;
    display: block;
    height: 20px;
    bottom: 32px;
    left: 300px;
}

.mediaUploadEntities {
    text-align: center;
    font-size: x-large;
    font-style: italic;
    font-weight: bold;
    margin-top: 20px
}